.App {
  text-align: center;
  height: 100vh;

  display: grid;
  grid-template-rows: 3rem 1fr 2rem;
}

.App-container {

}

.App-container .inputs {
  width: Min(90vw, 800px);
}

.App-container .output {

}