button {
  background-color: transparent;

  border-radius: 4px;
  border-width: 2px;

  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;

  width: 8rem;
}

button:hover {
  box-shadow: 2px 2px 3px gray;
}

button.print-button {
  background-color: #4d98af;

  margin-top: 1rem;
}

.App {
  display: grid;
  grid-template-rows: 3rem 1fr 2rem;

  height: 100vh;

  text-align: center;
}

.App-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100vw;
}

.App-container .inputs {
  border-color: black;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;

  margin: 1rem;

  width: Min(90vw, 600px);
}

.App-container .output {
  border-style: solid;
  border-width: 1px;

  box-shadow: 2px 2px 3px gray;

  display: flex;
  flex-direction: column;

  margin: 1rem;

  min-height: Calc(279.4mm - 2rem);

  padding: 1rem;

  width: Min(90vw, 215.9mm - 2rem);
}